.button {
  all: unset;
  cursor: pointer;
  border-radius: 3.2rem;
  font-size: 1.4rem;

  line-height: 1.6rem;

  font-weight: bold;
  width: 20rem;
  height: 4rem;
  text-align: center;
  margin-right: 0.6rem;

  margin-bottom: 1rem;
}

.button__yellow {
  background-color: #fdd450;
  color: #000;
}

.button__green {
  background-color: #0c6777;
  color: #fff;
}

.default {
  width: 10rem;
  height: 4rem;
  background: #fdd450;
  border-radius: 5px;
  margin-right: 0;
}
