.container__register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.back a {
  all: unset;
  color: black;
  text-decoration: underline;
  font-size: 1.2rem;

  margin-left: 22rem;
}

.container__register__section {
  margin-left: -7rem;
}

.container__register__section button {
  margin-left: 7rem;
  margin-top: 2rem;
}

.container__register__title p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;

  margin-top: -1.3rem;
  margin-bottom: 2rem;
}

.container__input {
  display: flex;
  flex-direction: column;

  margin-bottom: 2rem;
}

.container__input label {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;

  margin-bottom: 0.3rem;
}

.container__input input {
  all: unset;
  border-bottom: 1px solid black;
  width: 16rem;

  padding: 0.5rem 0.2rem;

  font-size: larger;
}

.container__input__helper img {
  margin-left: 0.6rem;
  width: 1rem;
}

.container__input__last {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4rem;

  margin-bottom: 0.1rem;
}

.container__input__last span {
  margin-left: 0.4rem;
  font-size: 1rem;
}
